<h2>New Contact</h2>

 <form name="newContact" novalidate class="form-horizontal">   <!-- The property name is useful for the controller to access this form for form validation -->

     <form-field record="contact" field="firstName" live="false" required="true"></form-field>
     <form-field record="contact" field="firstName" live="false" required="true"></form-field>
     <form-field ng-repeat="(k,v) in contact | KeyFilter: 'firstName' | KeyFilter: 'lastName'" record="contact" field="{{k}}"></form-field>

     <new-field record="contact" live="false"></new-field>
     <div class="row form-group">
         <div class="col-sm-offset-2">
             <button class="btn btn-primary" ng-click="save()">Create Contact</button>
         </div>
     </div>

</form>
